version: '3.8'

services:
  frontend:
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_BASE_API_URL=http://backend:3001
      - GOOGLE_CLIENT_ID=
      - GOOGLE_CLIENT_SECRET=

  backend:
    restart: always
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - GOOGLE_CLIENT_ID=
      - GOOGLE_CLIENT_SECRET=
      - JWT_SECRET=
      - EMAIL_USER=
      - EMAIL_PASSWORD=
      - CLOUDINARY_CLOUD_NAME=
      - CLOUDINARY_API_KEY=
      - CLOUDINARY_API_SECRET=
      - SERVER_URL=http://backend:3001
      - CLIENT_URL=http://frontend:3000
      - DATABASE_URL=postgres://user:pass@db:5432/review-film
      - DB_NAME=review-film
      - DB_USER=
      - DB_PASS=
      - DB_HOST=db
      - DB_DIALECT=postgres
    depends_on:
      - db

  db:
    restart: always
    image: postgres:13
    environment:
      POSTGRES_USER: 
      POSTGRES_PASSWORD: 
      POSTGRES_DB: review-film
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: